@value colors: "./colors.module.css";
@value cardBg, cardBorder from colors;

.cards {
  border: 0;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 5.5rem);
}
.card {
  align-items: center;
  background: cardBg;
  border: 1px solid cardBorder;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 800;
  justify-content: center;
}